*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
}
.home{
    background-image: url('https://ntandomabuto.github.io/images/N.png');
            background-size: 1500px 800px;
            background-repeat: no-repeat;
}
.about{
    background-image: url('https://th.bing.com/th/id/OIP._AqURUHRk3sPCtIYJP6JaQHaE8?pid=ImgDet&w=179&h=119&c=7&dpr=1,3');
            background-size: 100vw 100vh;
            background-repeat: no-repeat;
            background-blend-mode:luminosity;
}
.about >footer{
    position: fixed;
}
.checkimg{
    width: 250px;
    height: 250px;
}

.product{
    background-image: linear-gradient(grey, white);
}

#purchase{
    background-color: rgb(98, 122, 122);
    border-radius: 2rem;
    width: 45%;
    color: white;
}
a{
    text-decoration: none;
    font-size: large;
    padding: 5px;
    border-radius: 2rem;
    color: aliceblue;
}

.facebook,.insta, .git{
    border-radius: 5rem;
    margin: 2px;
}
#div{
    margin-bottom: 10%;
    margin-left: 10%;
    width: 300px;
    height: 350px;
    text-align: center;
    transition: transform linear 1s;
}
#div:hover{
    transform:scale(1.2);
    box-shadow: 0 0 15px 2px black;
    border-radius: 2rex;
}
.main{
    background-color: rgb(62, 89, 89);
    width: 750px;
    justify-content: center;
    align-items: center;
    margin-left: 25vw;
    margin-top: 100px;
    border-radius: 2rem;
    text-align: center;
    color: white;
}
.sort{
    background-color: grey;
    border-radius: 5px;
    color: white;
    font-size: large;
}
.hello{
    color: white;
}
/* table{
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-left: 250px;
} */
.total,.delete-btn{
    color: black;
    background-color: grey;
    border-radius: 10px;
    align-items: center;
}

.container-check{
    display: flex;
}
.footer-check{
    bottom: 0;
    position: fixed;
}
th,td{   
    width:250px;
    text-align: center;
}

#thankYou{
    margin-top: 35vh;
    background-color: rgb(186, 162, 162);
    border-radius: 2rem;
}
#h4{
    text-align: center;
}
.link{
    background-color: black;
    border-radius: 25%;
    transition: transform linear 1s;
}
.link:hover{
    background-color: grey;
}
nav{
    background-color: beige;
}

footer{
    display: grid;
    background-color: black;
    color: white;
    position: static;
    bottom:0;
    text-align: center;
    justify-content: center;
    width: 100%;
    
}

.container-home{
    margin-top: 100px;
    display: flex;
    justify-content:space-evenly;
}
.text{
color: black;
}
.products{
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.sort{
    align-items: center;
    text-align: center;
    justify-content: center;
}

#image{
    width: 250px;
    height: 250px;
    border-radius: 2rem;
}

.card{
border: none;
border-radius: 30%;
}
.text{
align-content: center;
transition: 3s transform linear;
}

.gif{
  position: relative;
  animation-name: gif;
  animation-duration: 3s;  
  animation-delay: 1;
  animation-fill-mode:backwards; 
}

@keyframes gif{
    from {left: 0px;}
  to {left: 400px;}
}

.btn{
    color: black;
}

@media screen and (max-width:320px) {
    body{
        color: white;
        overflow: hidden;
    }
    a{
        background-color: black;
    }
}
