*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
}

a{
    text-decoration: none;
    font-size: large;
    padding: 5px;
    border-radius: 2rem;
    color: aliceblue;
}

nav{
    background-color: beige;
}

footer{
    display: grid;
    background-color: black;
    color: white;
    position: absolute;
    bottom:0;
    text-align: center;
    justify-content: center;
    width: 100%;
    
}

.gif{
    /* width: 10%;
  height: 10%; */
  position: relative;
  animation-name: gif;
  animation-duration: 3s;  
  animation-delay: 1;
  animation-fill-mode:backwards; 
}

@keyframes gif{
    from {left: 0px;}
  to {left: 400px;}
}

.btn{
    color: black;
}

@media screen and (max-width:300px) {
    body{
        color: white;
    }
    a{
        background-color: black;
    }
}
